# Application
APP_NAME=Farmily API
APP_ENV=development
DEBUG=true

# Auth
SECRET_KEY=

# Database (DB 연결 시 설정)
DATABASE_URL=

# MQTT Broker
MQTT_HOST=i14d101.p.ssafy.io
MQTT_PORT=
MQTT_USE_WSS=
MQTT_WSS_PATH=

# AI Service
AI_GMS_URL=
AI_GMS_KEY=

# Server
HOST=0.0.0.0
PORT=8000
